@use './helpers/reset' as *;
@use './components/dropdown' as *;

.inner {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 64px 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    gap: 32px;

    &_item {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }
}

.getData {
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 32px;
    padding: 0 8px;
    background: #5283dd;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}
