@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "pretendard";
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.multipleInput {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}
.multipleInput_list {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-height: 93px;
  min-height: 35px;
  padding: 4px 48px 4px 8px;
  gap: 4px;
  background: #fff;
  border: 1px solid #c4c4c4;
  overflow-y: auto;
}
.multipleInput_list::-webkit-scrollbar {
  width: 4px;
}
.multipleInput_list::-webkit-scrollbar-track {
  background: #e2e2e2;
}
.multipleInput_list::-webkit-scrollbar-thumb {
  background: #191919;
  border-radius: 4px;
}
.multipleInput_list .reset-btn {
  position: absolute;
  top: 4px;
  right: 8px;
  height: 25px;
  padding: 2px 4px;
  border-radius: 4px;
  background: #767676;
  color: #fff;
}
.multipleInput_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 4px;
  gap: 4px;
  background: #4d72da;
  border-radius: 4px;
  color: #fff;
}
.multipleInput_item .remove-btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 16px;
}
.multipleInput_item .remove-btn::before, .multipleInput_item .remove-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 1px;
  background: #fff;
}
.multipleInput_item .remove-btn::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.multipleInput_item .remove-btn::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.multipleInput input {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  padding: 4px 8px;
  border: 1px solid #c4c4c4;
  outline: 0;
  font-size: 14px;
}
.multipleInput input:focus {
  z-index: 2;
  border-color: #4d72da;
  -webkit-transform: translateY(calc(100% - 1px));
          transform: translateY(calc(100% - 1px));
}

.getData-btn {
  height: 35px;
  padding: 4px 8px;
  background: #4d72da;
  border-radius: 4px;
  color: #fff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 60px;
  font-size: 14px;
}

.column-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 64px;
}
.column-box_item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 16px;
}