// colors
$white : #FFFFFF;
$whitef8-a2 : rgba(248, 248, 248, 0.2);

$disabled : #F1F3F5;

$black19 : #191919;
$black19-a2 : rgba(25, 25, 25, 0.2);
$black19-a4 : rgba(25, 25, 25, 0.4);

$gray67 : #676767;
$gray82 : #828282;
$graybd : #bdbdbd;
$graye6 : #e6e6e6;

$border : #c4c4c4;

$primary : #1f2c69;
$primary-dark : #0c153f;
$primary-light : #3d4d94;
$primary-hover : #2f439c;

$error : #ff8787;
$error-dark : #ff7272;
$error-light : #ffc4c4;

// Break Point
$desktop : 1920px;
$labtop : 1440px;
$tablet-l : 980px;
$tablet-s : 720px;
$mobile : 480px;
