<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/style.css">

    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="app">
        <div class="container">
            <div class="message-header">
                <h2 class="message-header__title">Message</h2>
                <div class="search-wrap">
                    <input type="text" placeholder="Search">
                    <button type="button" class="btn-search"><i class='bx bx-search'></i></button>
                </div>
            </div>
            <div class="box-wrap">
                <div class="left-box">
                    <ul class="message-box">
                        <li class="message-box__item">
                            <span class="message-box__item__icon"><i class='bx bx-envelope'></i></span>
                            <div class="message-box__item__info">
                                <div class="message-box__item__sender">Serene<span class="message-box__item__date">2022.07.11</span></div>
                                <div class="message-box__item__title">Hello! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a qui porro aliquid laudantium alias quo quasi asperiores ratione, ea modi odio maxime atque hic nulla natus vitae velit veniam!</div>
                            </div>
                        </li>
                        <li class="message-box__item">
                            <span class="message-box__item__icon"><i class='bx bx-envelope'></i></span>
                            <div class="message-box__item__info">
                                <div class="message-box__item__sender">Serene<span class="message-box__item__date">2022.07.11</span></div>
                                <div class="message-box__item__title">Hello! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a qui porro aliquid laudantium alias quo quasi asperiores ratione, ea modi odio maxime atque hic nulla natus vitae velit veniam!</div>
                            </div>
                        </li>
                        <li class="message-box__item">
                            <span class="message-box__item__icon"><i class='bx bx-envelope'></i></span>
                            <div class="message-box__item__info">
                                <div class="message-box__item__sender">Serene<span class="message-box__item__date">2022.07.11</span></div>
                                <div class="message-box__item__title">Hello! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a qui porro aliquid laudantium alias quo quasi asperiores ratione, ea modi odio maxime atque hic nulla natus vitae velit veniam!</div>
                            </div>
                        </li>
                        <li class="message-box__item">
                            <span class="message-box__item__icon"><i class='bx bx-envelope'></i></span>
                            <div class="message-box__item__info">
                                <div class="message-box__item__sender">Serene<span class="message-box__item__date">2022.07.11</span></div>
                                <div class="message-box__item__title">Hello! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a qui porro aliquid laudantium alias quo quasi asperiores ratione, ea modi odio maxime atque hic nulla natus vitae velit veniam!</div>
                            </div>
                        </li>
                        <li class="message-box__item">
                            <span class="message-box__item__icon"><i class='bx bx-envelope'></i></span>
                            <div class="message-box__item__info">
                                <div class="message-box__item__sender">Serene<span class="message-box__item__date">2022.07.11</span></div>
                                <div class="message-box__item__title">Hello! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a qui porro aliquid laudantium alias quo quasi asperiores ratione, ea modi odio maxime atque hic nulla natus vitae velit veniam!</div>
                            </div>
                        </li>
                        <li class="message-box__item">
                            <span class="message-box__item__icon"><i class='bx bx-envelope'></i></span>
                            <div class="message-box__item__info">
                                <div class="message-box__item__sender">Serene<span class="message-box__item__date">2022.07.11</span></div>
                                <div class="message-box__item__title">Hello! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a qui porro aliquid laudantium alias quo quasi asperiores ratione, ea modi odio maxime atque hic nulla natus vitae velit veniam!</div>
                            </div>
                        </li>
                        <li class="message-box__item">
                            <span class="message-box__item__icon"><i class='bx bx-envelope'></i></span>
                            <div class="message-box__item__info">
                                <div class="message-box__item__sender">Serene<span class="message-box__item__date">2022.07.11</span></div>
                                <div class="message-box__item__title">Hello! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a qui porro aliquid laudantium alias quo quasi asperiores ratione, ea modi odio maxime atque hic nulla natus vitae velit veniam!</div>
                            </div>
                        </li>
                        <li class="message-box__item">
                            <span class="message-box__item__icon"><i class='bx bx-envelope'></i></span>
                            <div class="message-box__item__info">
                                <div class="message-box__item__sender">Serene<span class="message-box__item__date">2022.07.11</span></div>
                                <div class="message-box__item__title">Hello! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a qui porro aliquid laudantium alias quo quasi asperiores ratione, ea modi odio maxime atque hic nulla natus vitae velit veniam!</div>
                            </div>
                        </li>
                    </ul>
                    <nav class="message-nav">
                        <button type="button" class="btn-prev"><i class='bx bx-chevron-left'></i></button>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <button type="button" class="btn-next"><i class='bx bx-chevron-right'></i></button>
                    </nav>
                </div>
                <span class="resize-line"></span>
                <div class="right-box">
                    <div class="message-area">
                        <div class="message-area__header">
                            <div class="message-area__header__title"><div>Hello!</div><span class="message-area__header__date">2022.07.11</span></div>
                            <div class="message-area__header__sender"><div>Sender</div><span>Serene</span></div>
                            <div class="message-area__header__recipient"><div>Recipient</div><span>toytoy123</span></div>
                        </div>
                        <div class="message-area__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ratione animi, repudiandae, natus minus facere odit repellendus saepe ipsa, ab doloribus deleniti quo nobis doloremque quidem quisquam recusandae id assumenda?
        
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, alias similique minima tempore quasi ex exercitationem id non porro, iure ullam dicta mollitia vitae debitis rerum soluta ipsam explicabo ratione!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, praesentium repellat labore maxime iusto harum beatae repudiandae suscipit nisi dolor omnis neque natus? Provident sunt quaerat omnis consectetur quae porro.

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione consequuntur explicabo aliquid sunt dicta tempore sit iusto officiis architecto? Repellat dicta ad sint, assumenda eaque eius iure quidem repudiandae!

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde reiciendis esse deleniti praesentium eum, consequatur optio aperiam. Doloribus itaque natus voluptatem, aspernatur animi dicta omnis modi quam repellendus, tenetur excepturi?

Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ea porro temporibus totam? Laborum autem ab nam quas temporibus? Iusto et vel autem est! Quia, eos eius? Voluptatum, atque reprehenderit!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./js/style.js"></script>
</html>