@use './reset' as *;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(75, 150, 225, 0.25);
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    gap: 16px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    
    h2 {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 36px;
        background: #191919;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
    }
}

.input-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;

    label {
        display: inline-flex;
        align-items: center;
        flex-shrink: 0;
        width: 80px;
        height: 100%;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    input {
        flex-shrink: 1;
        width: 100%;
        height: 100%;
        padding: 0 0.5rem;
        border: 1px solid #676767;
        border-radius: 4px;
        font-size: 14px;
        outline: 0;

        &:focus::placeholder {
            opacity: 0;
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    
    input + label {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        background: #fff;
        border: 1px solid #676767;
        border-radius: 4px;
        color: #191919;
        font-size: 14px;
        line-height: 20px;
        text-indent: 24px;
        white-space: nowrap;
        transition: all 0.1s;
        cursor: pointer;
    
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: url(../ic_check.svg) no-repeat center;
            width: 18px;
            height: 13px;
            transform: translate(-50%, -50%);
        }
    }
    
    input:checked + label {
        background: #191919;
        border-color: #191919;
    
        &::after {
            transform: translate(-50%, -50%) scale(1);
            animation: aniChecked 0.2s;
        }
    }

    @keyframes aniChecked {
        0% {
            transform: translate(-50%, -50%) scale(0);
        }

        75% {
            transform: translate(-50%, -50%) scale(1.25);
        }

        100% {
            transform: translate(-50%, -50%) scale(1);
        }
    }
    
    input {
        display: none;
    }
    
    input:disabled + label {
        background: #828282;
        cursor: default;
    }
}
